{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static "voc/base.css" %}">
    <meta charset="utf-8">
    <title>Jargon-Login</title>
  </head>
  <body>
    {% include "voc/header.html" %}
    <form method="post">
      {% csrf_token %}
      <table>
        <tr>
          <td>{{ form.username.label_tag}}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag}}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <input type="submit" value="Login">
    </form>
  </body>
</html>
