body {
  background: url("index_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2 {
  font-family: 'Shadows Into Light', cursive;
  color: #FFF;
}

.title {
  font-size: 10vh;
  margin-top: 35vh;
  text-align: center;
  color: #0087c3;
}

.subtitle {
  font-size: 4vh;
  text-align: center;
}

.logo {
  display: none !important;
}
