.popupLang {
  position: absolute;
  width: 42vw;
  height: 90vh;
  background: #FFF;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  visibility: hidden;
  transition: all 2s ease;
}

.visible {
  display: block;
  visibility: visible;
}
